h1 {
    color: crimson;
    font-size: 4rem;
}

p {
    color: black;
    font-size: 2rem;
}

/* @media print and (max-width: 576px) {
    h1 {
        color: blueviolet;
    }
} */

@media all and(max-width) {
    h1 {
        color: blueviolet;
    }
}

@media (min-height: 300px), (min-width:1100px) {
    p {
        color: rgb(0, 217, 255);
    }
}

@media (orientation: landscape) and (min-height:400px) {
    p {
        color: greenyellow;
    }
}

